<div class="container-fluid">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="page-header">
        <h1>Newsletter technique de Quantmetry<br><small>I'm reading blog posts so you don't have to</small></h1>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Recherche</span>
          <input type="text" class="form-control" placeholder="search for words" aria-describedby="sizing-addon1"
            ng-model="test"  uib-typeahead="tag for tag in tags  | filter:$viewValue | limitTo:10"
            typeahead-editable="true"
            />
        </div>
      </div>
      </div>

        <div class="row">
          <div ng-repeat="item in news | limitTo: limit as results">
            <news-item data=item></news-item>
          </div>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary btn-block"
                ng-hide="results.length === news.length"
                ng-click="limit = limit + limitExpand">
                Show {{limitExpand}} More ({{news.length - results.length}} remaining)
          </button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="footer">
  <p>Copyright (c) 2017</p>
</div>
